---
import PageIcon from "../components/page-icon.svelte";
import ArticleTag from "../components/article-tag.svelte";
import SocialButtons from "../components/social-buttons.svelte";
import { formatDate } from "../lib";
import type { Breadcrumb } from "../models";
import { BREADCRUMBS } from "../static-data";
import Baselayout from "./base.layout.astro";
const { frontmatter } = Astro.props;

const breadcrumbs: Breadcrumb[] = [
  BREADCRUMBS.home,
  BREADCRUMBS.articles,
  {
    name: frontmatter.title,
    url: frontmatter.url,
    icon: frontmatter.icon,
  },
];
---

<Baselayout title={frontmatter.title} breadcrumbs={breadcrumbs} description={frontmatter.description}>
  <header class="flex flex-col gap-4">
    {
      false && (
        <div>
          <img
            class="max-h-[150px] sm:max-h-[300px] w-full max-w-[1440px] mx-auto my-0 object-cover object-center"
            src={frontmatter.poster.src}
          />
        </div>
      )
    }

    {
      frontmatter.icon && (
        <div class="leading-none">
          <PageIcon icon={frontmatter.icon} size="4rem" />
        </div>
      )
    }

    <div class="flex flex-col gap-4">
      <h1 class="text-6xl font-bold">{frontmatter.title}</h1>

      <div class="grid auto-rows-min grid-cols-[150px_1fr] gap-2 mb-4">
        <div class="text-black/50 dark:text-white/50">Время публикации</div>
        <div>{formatDate(new Date(frontmatter.createTime))}</div>

        <div class="text-black/50 dark:text-white/50">Время обновления</div>
        <div>{formatDate(new Date(frontmatter.updateTime))}</div>

        <div class="text-black/50 dark:text-white/50">Метки</div>
        <div>
          <ul class="flex gap-2">
            {
              frontmatter.tags.map((slug: any) => {
                return (
                  <li>
                    <a href={`/tags/${slug}`}>
                      <ArticleTag slug={slug} />
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="sm:my-4 prose prose-lg prose-p:my-2 dark:prose-invert">
    <slot />
  </div>

  <div class="my-4">
    <SocialButtons title={frontmatter.title} url={`${ Astro.site }${ frontmatter.url }`} />
  </div>
</Baselayout>
